# Credenciales
.env
*.json
!package.json

# Datos
data/
*.csv
*.parquet
*.gz

# Python
__pycache__/
*.pyc
.venv/
venv/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars

# Logs
*.log
logs/

# Sistema
.DS_Store
.vscode/
